/* You can add global styles to this file, and also import other style files */
:root {
    --fg-color: #f8f9fa;
    --bg-color: #212529;
    --bg-tr-color: #4376a920;
    --primary-color: #007bff;
    --primary-tr-color: #007bff99;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}